.search-window {
    text-align: center;
}

.list-table {
    text-align: center;
}

.big-table {
    text-align: center;
}
a {
    color: #fef2dc;
}
a:visited {
    color: #fef2dc;
}
body {
    background-color: #081c2b;
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

div.table-title {
    display: block;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
    text-align: center;
}

.table-title h3 {
    color: #dcd9d9;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}


/*** Table Styles **/

.table-fill {
    background: #081c2b;
    border: 2px;
    border-radius: 20px;
    border-collapse: collapse;
    margin: 0 auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th {
    color: #fef2dc !important;
    background: #282828;
    border-bottom: 4px ;
    border-right: 1px;
    border-left: 2px;
    border-bottom: #ece8dd;
    padding: 5px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    background-clip: padding-box;
}

tr:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

th:first-child {
    border-top-left-radius: inherit;
}

th:last-child {
    border-top-right-radius: inherit;
}

tr {
    border-bottom: 2px;
    border-top: 2px;
    color: #666B85;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}


td {
    background: #081c2b;
    color: #fef2dc;
}

tbody tr:hover td {
    background: #3a3a3a;
}

tr:last-child{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
