<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cBoardMapper">

    <select id="selectBListCount" parameterType="_int" resultType="_int">
        select count(*)
        from TB_COMMUNITY_BOARD
        where COMMUNITYID = #{ communityid }
    </select>

    <!--특정 커뮤니티에서 시작, 끝 행까지 가져오기-->
    <select id="selectCommuBList" parameterType="map" resultType="CBoard">

        SELECT *
        FROM (
                 SELECT ROWNUM RNUM, C.*
                 FROM (
                          SELECT *
                        FROM TB_COMMUNITY_BOARD
                          WHERE COMMUNITYID = #{communityid}
                          ORDER BY CBOARDNO DESC
                      ) C
             )
        WHERE RNUM BETWEEN #{paging.startRow} AND #{paging.endRow}

    </select>

    <!--커뮤 글 1개 글 번호로 가져오기-->
    <select id="selectCommuPost" parameterType="_int" resultType="CBoard">
        select *
        from TB_COMMUNITY_BOARD
        where CBOARDNO = #{ cboardno }
    </select>

    <!--커뮤니티 게시물 입력-->
    <insert id="insertCommuPost" parameterType="CBoard">
        insert into TB_COMMUNITY_BOARD (CBOARDNO, CBOARDTITLE, CBOARDCONTENT, CBOARDDATE, CBOARDLIKE, CBOARDORIFILE, CBOARDREFILE, CBOARDNOTICE, USER_ID, COMMUNITYID)
        values (SEQ_COMMUNITY_BOARD.nextval, #{cBoardTitle}, #{cBoardContent}, SYSDATE, 0 , #{cBoardOrifile}, #{cBoardRefile}, 'n', #{user_id}, #{communityid})
    </insert>

    <!--커뮤니티 게시물 수정-->
    <update id="updateCommuPost" parameterType="CBoard">
        update TB_COMMUNITY_BOARD
        set CBOARDTITLE = #{cBoardTitle}, CBOARDCONTENT = #{cBoardContent}, CBOARDORIFILE = #{cBoardOrifile}, CBOARDREFILE = #{cBoardRefile}
        where CBOARDNO = #{cBoardNo}
    </update>

    <!--커뮤니티 게시물 삭제-->
    <delete id="deleteCommuPost" parameterType="_int">
        delete from TB_COMMUNITY_BOARD
        where CBOARDNO = #{ cBoardNo }
    </delete>

    <!--커뮤니티 게시물에 해당하는 댓글 날짜로 정렬해서 가져오기-->
    <select id="selectCommuReply" parameterType="_int" resultType="CComment">
        select *
        from TB_COMMUNITY_COMMENT
        where CBOARDNO = #{ cBoardNo }
        order by CCOMDATE
    </select>

    <!--커뮤니티 댓글 insert-->
    <insert id="insertCommuReply" parameterType="CComment">
        insert into TB_COMMUNITY_COMMENT(CCOMNO, CBOARDNO, USER_ID, CCOMCONTENT, CCOMDATE, CCOMLVL, COMMUNITYID)
        values (SEQ_COMMUNITY_COMMENT.nextval, #{cboardno}, #{user_id}, #{ccomcontent}, sysdate, 0, #{communityid})
    </insert>
    <!--커뮤니티 댓글 update-->
    <update id="updateCommuComment" parameterType="CComment">
        update TB_COMMUNITY_COMMENT
        set CCOMCONTENT = #{ccomcontent}
        where CCOMNO = #{ccomno}
    </update>

    <!--커뮤니티 댓글 delete-->
    <delete id="deleteCommuComment" parameterType="_int">
        delete from TB_COMMUNITY_COMMENT
        where CCOMNO = #{ ccomno }
    </delete>


</mapper>
