<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cBoardMapper">

<!--	<resultMap type="Board" id="resultBoard">
		<result column="board_no" property="board_no"/>
		<result column="board_title" property="board_title"/>
		<result column="board_content" property="board_content"/>
		<result column="board_date" property="board_date"/>
		<result column="board_count" property="board_count"/>
		<result column="appid" property="appid"/>
		<result column="board_like" property="board_like"/>
		<result column="board_orifile" property="board_orifile"/>
		<result column="board_refile" property="board_refile"/>
		<result column="user_id" property="user_id"/>
		<result column="board_notice" property="board_notice"/>
	</resultMap>-->


    <resultMap type="CBoard" id="resultCBoard">
        <result column="cBoardNo" property="cBoardNo"/>
        <result column="cBoardTitle" property="cBoardTitle"/>
        <result column="user_Id" property="user_Id"/>
        <result column="cBoardContent" property="cBoardContent"/>
        <result column="cBoardDate" property="cBoardDate"/>
        <result column="communityId" property="communityId"/>
        <result column="cBoardLike" property="cBoardLike"/>
        <result column="cBoardOrifile" property="cBoardOrifile"/>
        <result column="cBoardRefile" property="cBoardRefile"/>
        <result column="cBoardNotice" property="cBoardNotice"/>
    </resultMap>


    <select id="selectBListCount" parameterType="_int" resultType="_int">
        select count(*)
        from TB_COMMUNITY_BOARD
        where COMMUNITYID = #{ communityid }
    </select>

    <!--특정 커뮤니티에서 시작, 끝 행까지 가져오기-->
    <select id="selectCommuBList" parameterType="map" resultType="CBoard">

        SELECT *
        FROM (
                 SELECT ROWNUM RNUM, C.*
                 FROM (
                          SELECT *
                        FROM TB_COMMUNITY_BOARD
                          WHERE COMMUNITYID = #{communityid}
                          ORDER BY CBOARDNO DESC
                      ) C
             )
        WHERE RNUM BETWEEN #{paging.startRow} AND #{paging.endRow}

    </select>

    <!--커뮤 글 보여주기-->
    <select id="selectCommuPost" parameterType="_int" resultType="CBoard">
        select *
        from TB_COMMUNITY_BOARD
        where COMMUNITYID = #{ communityid }
    </select>
</mapper>
