<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CGroupMapper">



    <insert id="insertCGroup" parameterType="CGroup">
        INSERT INTO TB_Community (communityId, communityName, communityDate, user_id, communityDesc)
        VALUES ((SELECT MAX(communityId) + 1 FROM TB_Community), #{communityname}, SYSDATE, #{user_id}, #{communitydesc})
    </insert>










</mapper>
