<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cGroupMapper">

<!--	<resultMap type="Board" id="resultBoard">
		<result column="board_no" property="board_no"/>
		<result column="board_title" property="board_title"/>
		<result column="board_content" property="board_content"/>
		<result column="board_date" property="board_date"/>
		<result column="board_count" property="board_count"/>
		<result column="appid" property="appid"/>
		<result column="board_like" property="board_like"/>
		<result column="board_orifile" property="board_orifile"/>
		<result column="board_refile" property="board_refile"/>
		<result column="user_id" property="user_id"/>
		<result column="board_notice" property="board_notice"/>
	</resultMap>-->

    <resultMap type="CGroup" id="searchCGroup">
        <result column="communityId" property="communityId"/>
        <result column="communityName" property="communityName"/>
        <result column="communityDate" property="communityDate"/>
        <result column="userId" property="userId"/>
        <result column="communityImgOri" property="communityImgOri"/>
        <result column="communityImgRename" property="communityImgRename"/>
    </resultMap>

    <resultMap type="CLike" id="searchCLike">
        <result column="user_id" property="user_id"/>
        <result column="cLiked_day" property="cLiked_day"/>
        <result column="communityId" property="communityId"/>
    </resultMap>

    <resultMap type="CMember" id="searchCMember">
        <result column="user_id" property="user_id"/>
        <result column="communityId" property="communityId"/>
        <result column="member_roll" property="member_roll"/>
        <result column="member_date" property="member_date"/>
    </resultMap>

    <resultMap type="CommunityReq" id="searchCommunityReq">
        <result column="userId" property="userId"/>
        <result column="communityId" property="communityId"/>
        <result column="requestDes" property="requestDes"/>
        <result column="requestDate" property="requestDate"/>
    </resultMap>

    <resultMap type="CReport" id="searchCReport">
        <result column="user_id" property="user_id"/>
        <result column="communityId" property="communityId"/>
        <result column="c_report_time" property="c_report_time"/>
        <result column="requestDate" property="requestDate"/>
    </resultMap>



</mapper>
