<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cScheduleMapper">

	<resultMap type="ScheduleVote" id="ScheduleVotes">
		<result column="schId" property="schId" />
		<result column="user_id" property="user_id" />
		<result column="schName" property="schName" />
		<result column="schDes" property="schDes" />
		<result column="schStart" property="schStart" />
		<result column="schEnd" property="schEnd" />
		<result column="votePart" property="votePart" />
	</resultMap>
	<resultMap type="CSchedule" id="CScheduleList">
		<result column="schName" property="schName" />
		<result column="schDes" property="schDes" />
		<result column="schStart" property="schStart" />
		<result column="schEnd" property="schEnd" />
	</resultMap>
	
	<select id="selectScheduleList" parameterType="_int" resultMap="ScheduleVotes">
	select *
	from tb_community_sch
	left join tb_community_vote using(schid)
	where communityId = #{communityId}
	and schEnd >= trunc(sysdate)
	</select>

	<select id="selectCalendarList" parameterType="_int" resultMap="CScheduleList">
		select *
		from tb_community_sch
		where communityId = #{communityId}
		and schEnd >= trunc(sysdate)
	</select>
	
	<insert id="insertSchdule" parameterType="CSchedule">
	insert into tb_community_sch (schId, schName, schDes, communityId, schStart, schEnd)
	values (sch_seq.nextval,#{schName},#{schDes},#{communityId},#{schStart},#{schEnd})
	</insert>

	<!-- 일정 참가 -->
	<insert id="insertOrUpdateVote" parameterType="CVote">
		merge into tb_community_vote t
		using (
			select #{schId} as schId, #{user_id} as user_id, #{votePart} as votePart from dual
		) s
		on (t.schId = s.schId and t.user_id = s.user_id)
		when matched then update set t.votePart = s.votePart
		when not matched then insert (t.schId, t.user_id, t.votePart, t.voteDate) values (s.schId, s.user_id, s.votePart, sysdate)
	</insert>

	<!-- 투표 참가 여부 확인 -->
	<select id="selectVote" parameterType="CVote" resultType="CVote">
		select *
		from tb_community_vote
		where schId = #{schId}
		and user_id = #{user_id}
	</select>
</mapper>
