<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gameMapper">

	<resultMap type="Game" id="resultGameTop">
		<result property="appid" column="appid"/>

		<result property="name" column="name"/>
		<result property="headerimg" column="headerimg"/>
		<result property="short_description" column="short_description"/>
		<result property="releasedate" column="releasedate"/>
		<result property="cuu" column="cuu"/>
		<result property="meta" column="meta"/>
	</resultMap>
	
	<resultMap type="Game" id="resultGameNew">
		<result property="appid" column="appid"/>
		<result property="name" column="name"/>
		<result property="headerimg" column="headerimg"/>
		<result property="short_description" column="short_description"/>
		<result property="releasedate" column="releasedate"/>
	</resultMap>
	
	<resultMap type="Game" id="resultGameDiscount">
		<result property="appid" column="appid"/>
		<result property="name" column="name"/>
		<result property="initialprice" column="initialprice"/>
		<result property="finalprice" column="finalprice"/>
		<result property="ccu" column="ccu"/>
		<result property="discountrate" column="discountrate"/>
	</resultMap>
	<resultMap type="Game" id="allGame">
		<result property="appid" column="appid"/>
		<result property="name" column="name"/>
		<result property="developer" column="developer"/>
		<result property="publisher" column="publisher"/>
		<result property="initialprice" column="initialprice"/>
		<result property="finalprice" column="finalprice"/>
		<result property="discountrate" column="discountrate"/>
		<result property="description" column="description"/>
		<result property="platform" column="platform"/>
		<result property="meta" column="meta"/>
		<result property="category" column="category"/>
		<result property="genre" column="genre"/>
		<result property="headerimg" column="headerimg"/>
		<result property="movie" column="movie"/>
		<result property="releasedate" column="releasedate"/>
		<result property="achievement" column="achievement"/>
		<result property="positive" column="positive"/>
		<result property="ccu" column="ccu"/>		
		<result property="short_description" column="short_description"/>
		<result property="supported_languages" column="supported_languages"/>
		<result property="pcminimum" column="pcminimum"/>
		<result property="pcrecommended" column="pcrecommended"/>
	</resultMap>
	
	<resultMap type="Game" id="searchPrice">
		<result property="appid" column="appid"/>
		<result property="name" column="name"/>
		<result property="initialprice" column="initialprice"/>
		<result property="finalprice" column="finalprice"/>
		<result property="description" column="description"/>
		<result property="genre" column="genre"/>
	</resultMap>
	
	<resultMap type="Game" id="searchGenre">
		<result property="appid" column="appid"/>
		<result property="name" column="name"/>
		<result property="genre" column="genre"/>
		<result property="positive" column="positive"/>
		<result property="ccu" column="ccu"/>
		<result property="releasedate" column="releasedate"/>
		
	</resultMap>


	<!-- 게임정보 입력 -->
	<insert id="insertGameInfo" parameterType="Game">
		insert into game (appid, name, developer, publisher, initialprice, finalprice,
		discountrate,description,platform,meta,category,genre,headerimg,movie,releasedate,
		achievement,positive,ccu,short_description, supported_languages, pcminimum, pcrecommended)
		values (#{appid},#{name},#{developer},#{publisher},#{initialprice},
		        #{finalprice},#{discountrate},#{description},#{platform},
		        #{meta},#{category},#{genre},#{headerimg},#{movie},
		        #{releasedate},#{achievement},#{positive},#{ccu},
		        #{short_description},#{supported_languages},#{pcminimum},#{pcrecommended})
	</insert>
	
	<!-- 정보 중복 체크용 -->
	<select id="selectGameCount" parameterType="string" resultType="_int">
		select count(appid)
		from game
		where appid=#{appid}
	</select>
	
	<!-- 게임 정보 삭제 -->
	<delete id="deleteGameInfo" parameterType="string">
		delete from game
		where appid = #{appid}
	</delete>
	
	
	<!-- 인기 게임 6개 -->
	 <select id="selectGameTop6" resultMap='resultGameTop'>

	 	<![CDATA[
	 	select * 
		from ( select rownum rnum, appid,name, headerimg, short_description , releasedate,ccu,meta
				from ( select * from game order by ccu desc ))
		where rnum >= 1 and rnum <=6
	 	]]>
	 </select>
	 
	 <!-- 신작 게임 6개 -->
	 <select id="selectGameNew6" resultMap='resultGameNew'>
	 	<![CDATA[
	 	select * 
		from ( select rownum rnum, appid,name, headerimg, short_description , releasedate
				from ( select * from game where releasedate is not null order by releasedate desc  ))
		where rnum >= 1 and rnum <=6
	 	]]>
	 </select>
	 
	 <!-- 할인율 높은 순위 10개-->
	 <select id="selectGameDiscTop" resultMap='resultGameDiscount'>
	 	<![CDATA[
	 	select * 
		from ( select rownum rnum, appid ,name, initialprice, finalprice ,ccu ,discountrate
				from ( select * from game where discountrate is not null order by discountrate desc,finalprice asc  ))
		where rnum >= 1 and rnum <=10
	 	]]>
	 </select>
	 
	 <!-- 모든 게임 리스트-->
	 <select id="selectGame" resultMap="allGame">
	 	select * from game
	 	where appid = #{appid}
	 </select>
	 
	 <!-- 게임 장르가 같은 것 끼리 출력 -->
	 <select id="selectSearchGenre" parameterType="Searchs" resultMap="searchGenre">
	 select*
		from(select rownum rnum, appid,  name, genre ,positive
        from (select * from game order by positive desc)
        <if test="keyword !=null and keyword.equals('initialprice')" >
		where genre like '%' || #{ keyword } || '%'
		</if>
		)
		
		<![CDATA[
        where rnum >= 1 and rnum <=10
		]]>
	 </select>
	 

	 
	 <!-- 게임 가격으로 검 -->
	 <select id="selectSearchPrice" parameterType="Searchs" resultMap="searchPrice">
	 	select appid, name, genre,initialprice, finalprice, discountrate  from game
	 	where
	 	<choose>
	 	<when test="type !=null and type.equals('initialprice')" >
		 	  initialprice =  #{ keyword } order by initialprice
		 </when>
		 <when test="type !=null and type.equals('finalprice')" >
		 	  finalprice =  #{ keyword } order by finalprice
		 </when>
		 <when test="type !=null and type.equals('discountrate')" >
		 	  discountrate =  #{ keyword } order by discountrate
		 </when>
	 	</choose>
	 </select>

	 
	 <!-- 게임 검색 모두 갖고 오기 -->
	<select id="selectgameAllSearch" parameterType="Searchs" resultMap="allGame">
	 	select  name, genre, short_description, initialprice, finalprice, ccu, positive, releasedate, meta, discountrate
	 	from game where
	 	<choose>
	 		<when test="type !=null and type.equals('name')" >
		 	  name like '%' || #{ keyword } || '%'
		 	</when>
		 	<when test="type !=null and type.equals('genre')" >
		 	  genre like '%' || #{ keyword } || '%'
		 	</when>
		 	<when test="type !=null and type.equals('initialprice')" >
		 	<![CDATA[
		 	  initialprice =  #{ keyword } order by initialprice
		 	  ]]>
		 	</when>
		 	<when test="type !=null and type.equals('finalprice')" >
		 	<![CDATA[
		 	  finalprice =  #{ keyword } order by finalprice
		 	  ]]>
		 	</when>
		 	<when test="type !=null and type.equals('discountrate')" >
		 	<![CDATA[
		 	  discountrate =  #{ keyword } order by discountrate
		 	  ]]>
		 	</when>
		 </choose>
	 </select>


	  
	 
	 
	 <!-- 도전과제  -->
	 <select id="selectAchievement" parameterType="string" resultType="string">
      select achievement
      from game
      where appid = #{appid}
   </select>
	 
	<!--  <select id="selectListCount" resultType="_int">
	 	select count(*) from game
	 </select>
	 <select id="selectList" parameterType="Pagingnn" resultMap="allGame">
	 	<![CDATA[
	 	select *
		from(select rownum rnum, 
        from (select * from game
                            order by  asc))
		where rnum >=#{startRow} and rnum <=#{endRow} 
		]]>
	 </select> -->




</mapper>