<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
	<!-- 마이바티스 mybatis-config.xml 에 등록해야 별칭으로 사용할 수 있음 => 등록안할꺼면 사용구문을 모두 적으면 됨 -->

	<!-- 유저정보 저장용 -->
	<resultMap id="resultUser" type="User">
		<result column="user_id" 		        		property="user_id"/> 		                    <!-- 회원아이디 -->
		<result column="admin_id"		       		property="admin_id"	/>	                     	<!-- 관리자아이디 -->
		<result column="user_pwd"		        	property="user_pwd"/>		                    <!-- 회원비밀번호 -->
		<result column="user_nickname" 	        property="user_nickname" />	            <!--회원닉네임-->
		<result column="user_name" 		        	property="user_name"/> 		                <!--회원이름-->
		<result column="user_phone"		        	property="user_phone"	/>	                    <!--회원전화번호-->
		<result column="user_email"		        	property="user_email"	/>	                    <!--회원이메일-->
		<result column="user_birth"		        	property="user_birth" />		                <!--회원생일-->
		<result column="user_level" 	       		 	property="user_level"/> 	                    <!--회원등급-->
		<result column="user_status"	       		property="user_status"	/>                     <!--회원 활동상태-->
		<result column="ban_release_date"	       		property="ban_release_date"	/>                     <!--정지 해제일-->
		<result column="user_point" 	        		property="user_point" />	                    <!--보유포인트-->
		<result column="user_access"				property="user_access"/>						<!--접속기록-->
		<result column="user_original_profile"  property="user_original_profile" />  	<!--원본프로필이미지-->
		<result column="confirm_answer"         property="confirm_answer" />              <!--본인확인용 질문-->
		<result column="board_click_day" 		property="board_click_day"/> 				<!--즐찾한 날짜 ★가져올예정-->
		<result column="appid"  						property="appid" />					     		<!--즐찾한 게임정보번호★가져올예정-->
		<result column="bname" 						property="bname" />						     	<!--밴드 이름★가져올예정-->
		<result column="com_contents"				property="com_contents"	/>				    <!--내가 쓴 코멘트 제목★가져올예정-->
		<result column="board_title" 				property="board_title" />				     	<!--내가 쓴 글 제목★가져올예정-->
	</resultMap>
	


<!--////////////////////////////////////////////////////////////////////////////////////////////////  -->

	<!-- 회원탈퇴 처리용 -->
	<delete id="userDeleteMethod" parameterType="string">		<!-- insert & delete는 기본이 int로 리턴하기때문에  resultType이나 resultMap 작성할 수 없음 -->
		delete 
		from tb_user
		where user_id = #{ user_id }			<!-- 값 1개에 대한 변수적용은 변수이름 아무거나 해도 됨  (uid)  but, 여러개일때는 순서대로 똑같이 써줘야한다.-->
	</delete>


	<!-- 회원정보 수정용 -->
	<update id="updateUser" parameterType="User">		<!--전달받는값의 타입이 Member임  // 수정안된 값은 그냥 똑같이 덮어씌우기 하는거라고 생각하면 됨-->
		update tb_user
		set user_pwd= #{user_pwd},
			 user_phone= #{user_phone}, 
			 email= #{email},
		where user_id = #{user_id}		
	</update>

	

	
	<!-- 회원 전체 조회용 -->
	<select id = "selectUserList" resultType="User">
		select *
		from tb_user
	</select>
	
	
	
	
	<!-- 로그인 처리용 -->
	<select id="selectUser"  parameterType="User"  resultMap="resultUser">		
      select * 
      from tb_user
      where user_id = #{ user_id }
	</select>

	
	
	
	<!-- 회원가입시 아이디 중복 체크 처리용  -->
	<select id="selectDupCheckId" parameterType="string" resultType="_int" >
		select count(user_id) 
		from tb_user
		where user_id = #{ user_id }	
	</select>		

	
	<!-- 회원가입시 닉네임 중복 체크 처리용  -->
	<select id="selectDupCheckNick" parameterType="string" resultType="_int" >
		select count(user_nickname) 
		from tb_user
		where user_nickname = #{ user_nickname }	
	</select>		
	
		
	<!-- 회원가입 처리용 -->
	<insert id="userInsertMethod" parameterType="User">			
		insert into tb_user (
			user_id, admin_id, user_pwd, user_nickname, user_name, user_phone, user_email, user_birth, 
			user_level, user_status, user_point, user_access, user_original_profile, confirm_answer) 
		values (
			#{user_id}, default, #{user_pwd}, #{user_nickname}, #{user_name}, #{user_phone}, #{user_email}, #{user_birth}, 
			default, default, default, default, default, default)
		<!-- #{}안에 멤버변수명을 작성해주면 알아서 getter가 됨. (vo에 getter가 반드시 있어야 작동함) -->
	</insert>
	
	<update id="updateBan" parameterType="User">
		update tb_user
		set user_status = #{user_status},
			 ban_release_date = #{ban_release_date}
		where user_id = #{user_id}
	</update>
	
	<update id="updateBanRelease" parameterType="User">
		update tb_user
		set user_status = #{user_status},
			 ban_release_date = #{ban_release_date}
		where user_id = #{user_id}
	</update>
	
	
	
	

</mapper>


