<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="cacheEnabled" value="false"/>
	</settings>

	<!-- 매퍼에서 사용할 vo 클래스에 대한 줄임말 선언 -->
	<typeAliases>
		<typeAlias type="org.team404.gameOjirap.member.model.vo.Member" alias="Member" />
		<typeAlias type="org.team404.gameOjirap.game.model.vo.Game" alias="Game"/>
	</typeAliases>
	
	<!-- mapper : 실행할 쿼리문만 별도로 작성하는 파일을 말함 -->
	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/game-mapper.xml"/>
	</mappers>
</configuration>
