<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="cacheEnabled" value="false"/>
	</settings>

	<!-- 매퍼에서 사용할 vo 클래스에 대한 줄임말 선언 -->
	<typeAliases>

		<typeAlias type="org.team404.gameOjirap.board.model.vo.BoardGen" alias="BoardGen" />
		<typeAlias type="org.team404.gameOjirap.common.Paging" alias="Paging" />
		<typeAlias type="org.team404.gameOjirap.game.model.vo.Game" alias="Game"/>
		<typeAlias type="org.team404.gameOjirap.community.cboard.model.vo.CBoard" alias="CBoard"/>
		<typeAlias type="org.team404.gameOjirap.community.cboard.model.vo.CComment" alias="CComment"/>
		<typeAlias type="org.team404.gameOjirap.community.cboard.model.vo.CImg" alias="CImg"/>
		<typeAlias type="org.team404.gameOjirap.community.cGroup.model.vo.CGroup" alias="CGroup"/>
		<typeAlias type="org.team404.gameOjirap.community.cGroup.model.vo.CLike" alias="CLike"/>
		<typeAlias type="org.team404.gameOjirap.community.cGroup.model.vo.CMember" alias="CMember"/>
		<typeAlias type="org.team404.gameOjirap.community.cGroup.model.vo.CommunityReq" alias="CommunityReq"/>
		<typeAlias type="org.team404.gameOjirap.community.cGroup.model.vo.CReport" alias="CReport"/>
		<typeAlias type="org.team404.gameOjirap.community.cSchedule.model.vo.CSchedule" alias="CSchedule"/>
		<typeAlias type="org.team404.gameOjirap.community.cSchedule.model.vo.CVote" alias="CVote"/>
		<typeAlias type="org.team404.gameOjirap.user.model.vo.User" alias="User" />
	</typeAliases>
	
	<!-- mapper : 실행할 쿼리문만 별도로 작성하는 파일을 말함 -->
	<mappers>


		<mapper resource="mappers/user-mapper.xml" />
		<mapper resource="mappers/board-mapper.xml" />
		<mapper resource="mappers/game-mapper.xml"/>
		<mapper resource="mappers/cboard-mapper.xml"/>
		<mapper resource="mappers/cGroup-mapper.xml"/>
		<mapper resource="mappers/cSchedule-mapper.xml"/>
	</mappers>
</configuration>
